/*bottom nav bar lists */
.container {
	flex-direction: row;
	display: flex;
	align-items: flex-start;
	column-gap: 70px;
	margin-top: 30px;
}

/*changes the navigation headline and bottom bar thickness*/
.nav-item {
	color: black;
	font-weight: 310;
}






#solution .solution-container {
	display: flex;
}
