
@import url("http://fonts.googleapis.com/css?family=Open+Sans:500,400,900|Montserrat:400,700");

@import url("components/banner.css");
@import url("components/bottom-nav.css");
@import url("components/card.css");

/* fonts */

/*Mountain Image I could use for light white Background 
linear-gradient(rgba(0,0,0,0.8) 0%, rgba(0,0,0,0.3) 50%), url('https://images.pexels.com/photos/355770/pexels-photo-355770.jpeg?auto=compress&cs=tinysrgb&w=1080&h=750&dpr=2');

Regular Grey: 
#d1d1d1 		*/
  			
body {
	background: linear-gradient(rgba(0,0,0,0.5) 0%, rgba(0,0,0,0.3) 40%), url('https://images.pexels.com/photos/5213518/pexels-photo-5213518.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=2');
	opacity: .8;
}

a {
	color: black !important;
}

a:hover {
	color: white !important;
}


.hover-underline-animation {
	display: inline-block;
	position: relative;
	color: black;

}
.hover-underline-animation:after {
	content: '';
	position: absolute;
	width: 100%;
	transform: scaleX(0);
	height: 2px;
	bottom: 0;
	left: 0;
	background-color: black;
	transform-origin: bottom right;
	transition: transform 0.25s ease-out;
}
.hover-underline-animation:hover:after {
	transform: scaleX(1.0);
	transform-origin: bottom left;

}

#solution .solution-title {
	display: flex;
	text-transform: uppercase;
	color: white;
}


